@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #333, #a6a6a6);
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(6, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.button {
    cursor: pointer;
    font-size: 2rem;
    border: none;
    outline: none;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: white;
    justify-self: center;
    align-self: center;
}

.button:hover {
    filter: brightness(120%);
}

.button:active {
    filter: brightness(90%);
}

.black {
    background-color: #333333;
}

.gray {
    background-color: #a6a6a6;
}

.red {
    background-color: darkorange;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    border-radius: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    margin-bottom: 20px;
}

.output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: white;
    font-size: 2.5rem;
}